/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenberg-blocks-blocks-hero-slide {
	height: 100% !important;
	padding-top: 0px;

	.slide-content {
		max-width: var(--wp--style--global--wide-size);
		margin: 0 auto;
		width: 100%;
	}
	.remove-background {
		position: absolute;
		right: 20px;
		top: 56px;
		border-radius: 25px;
		z-index: 10000;
	}

	figure.aligncenter{
		display: flex;
		justify-content: center;
	}
}
