@use '../../../scss/helpers' as *;
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenberg-blocks-blocks-hero-slide {
	$slider-breakpoint: 992;
	height: auto !important;

	.slide-wrapper {
		max-width: var(--wp--style--global--wide-size);
		margin: 0 auto;

		.slide-background {
			@include pos0;
			@include size;
			object-fit: cover;
			position: absolute;
			object-position: 40% 83%;

			@include respond-max($slider-breakpoint) {
				max-width: 100%;
				min-width: 335px;
			}
		}

		.slide-background-overlay {
			@include pos0;
			background: var(--wp--preset--color--black, #000);
			opacity: .10;
			position: absolute;
		}

		.slide {
			&-content {
				display: flex;
				flex-direction: column;
				position: relative;
				width: 100%;
				padding-top: 64px;
				padding-bottom: 250px;
				color: var(--wp--preset--color--white, #fff);

				@include respond-at($slider-breakpoint) {
					padding-top: 127px;
					padding-bottom: 195px;
					max-width: 50%;
				}
			}

			&-title {
				@include lines(3);
				font-size: 36px;
				line-height: 1.31;
				position: relative;
				// font-weight: 600;
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 16px;

				@include respond-at($slider-breakpoint) {
					line-height: 1.167;
					left: 0;
					margin-bottom: 32px;
					font-size: 48px;
				}
			}

			&-subtitle {
				@include lines(4);
				position: relative;
				margin-top: 0;
				margin-bottom: 16px;
				line-height: 1.75;
				// min-height so the slide doesn't shrink when the content is too short
				min-height: 93px;

				@include respond-at($slider-breakpoint) {
					@include lines(5);
					font-weight: 400;
					font-size: 20px;
					line-height: 1.55;
					margin-bottom: 32px;
				}
			}
		}

		.wp-block-image {
			max-width: 100vw !important;
			width: var(--wp--style--global--wide-size);
		}

		@include respond-max($slider-breakpoint) {
			flex-direction: column;
			gap: 0;
			height: auto;
			padding-right: var(--wp--style--root--padding-right);
			padding-left: var(--wp--style--root--padding-left);
		}
	}
}