@use '../helpers' as *;
@use '../components/editor-buttons';
@use '../components/editor-counters';

strong {
  font-weight: 500;
}

.w-100 {
  width: 100% !important;
}

.video-embed {
  @include size(100%);

  iframe {
    @include size(100%);
  }
}

.skeleton__content {
  background-color: var(--wp--preset--color--gray-form-text, #888888);
  color: var(--wp--preset--color--gray-form-text, #888888);
  display: block;
  opacity: .18;
  height: 100% !important;

  &.file-icon {
    @include size(rem(40), rem(48));
  }
}

body .is-layout-constrained>p:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
  max-width: unset;
}

.wp-block-column {
  display: flex;
  flex-direction: column;
}

.wp-block-group {
  &.has-blue-background-color {
    a {
      color: var(--wp--preset--color--white, #fff);
    }
  }
}

.wp-block-buttons {
  @include flex;
}