/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-gutenberg-blocks-blocks-hero-slider {
	display: block;
	height: 550px;

	.tab-panel {
		position: absolute;
		top: 0;
		left: 1px;
		right: 1px;
		width: 100%;
		display: block;
		z-index: 3;
		background-color: var(--wp--preset--color--white, #fff);
	}
}