@use '../helpers' as *;

// COUNTERS
.is-style-counters {
  $component-breakpoint: $content-max;
  @include padding-y-rem(56);
  gap: rem(24) !important;

  .wp-block-column {
    padding: rem(32);
    border-top: solid 2px var(--wp--preset--color--yellow, #FFD700);

    .wp-block-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      >p {
        &:first-child {
          color: var(--wp--preset--color--blue, #005DA1);
          font-size: rem(48);
          line-height: 1.1666666667;
          font-weight: 800;
          margin-bottom: rem(32);


          display: flex;
          overflow: hidden;
          align-items: center;
          justify-content: flex-start;
          height: 56px;

          >span {
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            transition: -webkit-transform 2s ease;
            transition: transform 2s ease;
            transition: transform 2s ease, -webkit-transform 2s ease;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            line-height: 1;
          }

          >span span {
            flex: 0 0 100%;
            height: 100%;
          }

          @include respond-at($component-breakpoint) {
            margin-bottom: rem(40);
          }
        }

        &:nth-child(2) {
          @include lines(2);
          color: var(--wp--preset--color--black, #000);
          margin-bottom: rem(16);
          line-height: 1.625;
        }

        &:nth-child(3) {
          @include lines(3);
          color: var(--wp--preset--color--gray-for-text, #555555);
          margin-bottom: rem(8);
          flex-grow: 1;
          line-height: 2;

          @include respond-at($gutenberg-breakpoint) {
            margin-bottom: rem(16);
          }
        }
      }

      .wp-block-buttons {
        width: 100%;
      }
    }

    @include respond-at($component-breakpoint) {
      padding: rem(40);
    }
  }

  @include respond-at($component-breakpoint) {
    @include padding-y-rem(72);
    gap: rem(30) !important;
  }
}