@use '../helpers' as *;

// .is-style-custom-cpt is the block-style for the gallery grid
.is-style-custom-cpt {
  .wp-block-latest-posts {

    &.columns-3 {
      li {

        @include respond-at($large) {
          width: calc(33.33333% - 20px);
        }
      }
    }

    &__post-title,
    &__post-excerpt,
    .wp-block-buttons,
    &__post-date {
      display: none !important;
    }

    &__list.is-grid {
      column-gap: rem(30);
      row-gap: rem(11.33);
    }

    &__featured-image {
      height: rem(184);

      @include respond-at($content-max) {
        height: rem(304);
      }
    }
  }
}