@use '../helpers' as *;

.items-pagination {
  &__pages-list {
    @include flex(center);
    padding-top: rem(32);
    padding-bottom: rem(32);
    gap: rem(10);

    @include respond-at($medium) {
      gap: rem(16);
    }
  }

  &__page-num {
    @include size(rem(32));
    @include flex(center, center);
    color: var(--wp--preset--color--gray-form-text, #888888);
    border-color: var(--wp--preset--color--gray-form-text, #888888);
    background-color: transparent;
    border-radius: rem(100);
    border-width: 1px;
    border-style: solid;
    font-weight: 500;

    &.selected {
      color: var(--wp--preset--color--white, #fff);
      border-color: var(--wp--preset--color--blue, #005DA1);
      background-color: var(--wp--preset--color--blue, #005DA1);
    }

    &.active {
      cursor: pointer;

      &:hover {
        color: var(--wp--preset--color--blue, #005DA1);
        border-color: var(--wp--preset--color--blue, #005DA1);
      }
    }

    &.inactive {
      opacity: .35;
      background-color: #e4e4e4;
    }

    @include respond-at($medium) {
      @include size(rem(48));
    }
  }
}